# Duplicate this to .env
DATABASE_URL='your database url' ## required for prisma - create free PostgreSQL database: https://dashboard.render.com/new/database

APP_URL='your app url' ## required for next-sitemap

GOOGLE_SITE_VERIFICATION_ID='your google verification id' ## not required

GITHUB_ID='your github client ID' ## required for next-auth
GITHUB_SECRET='your github secret ID' ## required for next-auth

GOOGLE_ID='your github client ID' ## required for next-auth
GOOGLE_SECRET='your github secret ID' ## required for next-auth

NEXTAUTH_SECRET='your next-auth secret' ## required for next-auth - generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_URL='http://localhost:3000' ## Only required for localhost
